@inject IPublicationService PublicationService

<div class="container-fluid">
    <div class="row">
        @foreach (var response in Responses)
        {
        <div class="col-12 card form-rounded mb-1" style="background-color: #FFFFFF15; border-left: 6px solid RGB( 18, 171, 219); color: @response.Tag.Ctg.CtgTextColor;">
            <div class="card-header">
                <div class="row  justify-content-between align-items-center">
                    <div>
                        @response.PbcTitle
                    </div>
                    <div>
                        @response.PbcDate
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p>@response.PbcDescription</p>
                    </div>
                    <div class="col-12">
                        <p>@response.Usr.UsrLastname @response.Usr.UsrFirstname</p>
                    </div>
                </div>
            </div>
        </div>   

        }


    </div>
</div>






@code {
    [Parameter]
    public List<PublicationDto> Responses { get; set; } = new List<PublicationDto>();
}
